/.github
/.idea
.git
.env
.gitignore
*.env
*docker-compose.yml
*Dockerfile
*.md
*.txt
/.build
/.cache
/**/node_modules

# Runtime and non-production folders
/3DPF
/docs
/images
/logs
/coverage
/client-vue
/client-npm
/server-nest
/views
/test
