# Optional, default: 4000
SERVER_PORT=4000
# Optional, default: production, possible values: "development", "production"
NODE_ENV=development
ENABLE_COLORED_LOGS=false

# Github Personal Access Token, allows downloading the Client bundle without hitting a Github API rate limit
GITHUB_PAT=1234567890abcdef1234567890abcdef12345678

# Sentry (partially anonimized) bug tracking
# Use the FDM Monster Sentry for Node.js, or set-up your own!
# If not specified, will fallback to "https://164b8028a8a745bba3dbcab991b84ae7@o4503975545733120.ingest.sentry.io/4505101598261248"
SENTRY_CUSTOM_DSN=https://164b8028a8a745bba3dbcab991b84ae7@o4503975545733120.ingest.sentry.io/4505101598261248

# Authentication
# Optional, default: true. Ignored when demo mode is enabled (see below)
OVERRIDE_LOGIN_REQUIRED=true
# Optional, default: false. Ignored when demo mode is enabled (see below)
OVERRIDE_REGISTRATION_ENABLED=false
# Optional, changing this will invalidate all existing logins
OVERRIDE_JWT_SECRET=fdm-monster-jwt-secret-2023
# Optional, please specify in seconds, min 120
OVERRIDE_JWT_EXPIRES_IN=3600
# Optional, changing this will invalidate all existing logins
OVERRIDE_JWT_ISSUER=fdm-monster-server-2023
# Optional, changing this will invalidate all existing logins
OVERRIDE_JWT_AUDIENCE=fdm-monster-client-2023

# Demo mode, will set wizard to completed
OVERRIDE_IS_DEMO_MODE=true
# Optional, default: demo
OVERRIDE_DEMO_USERNAME=demo
# Optional, default: demo2023
OVERRIDE_DEMO_PASSWORD=demo2023
# Optional, default: ADMIN, logical values: "ADMIN", "OPERATOR"
OVERRIDE_DEMO_ROLE=ADMIN

# Debug express routes
DEBUG_ROUTES=false
DEBUG_SOCKET_STATES=false

# Saves SQLite database to ./database/fdm-monster.sqlite
DATABASE_PATH=./database
# Optional, default: fdm-monster.sqlite
DATABASE_FILE=fdm-monster.sqlite

ENABLE_PROMETHEUS=false
ENABLE_LOKI=false
LOKI_ADDRESS=
ENABLE_PROMETHEUS_METRICS=false
