**/.idea/
**/node_modules/
**/logs/
**/.clinic/
**/dist/
**/.env
**/.build
**/.cache
coverage

# NPM publish
*.tgz

# Runtime folders
**/fdm-monster
**/file-storage
**/media
**/nodemon_restart_trigger.js

**/yarn-error.log

installations/other/octoprint-virtual/default1.9.0/op1.9.0-backup/
installations/other/octoprint-virtual/default1.9.0/octoprint/octoprint/
**/*.sqlite

*.sqlite-wal

*.sqlite-shm

installations/ansible/inventory.cfg
