**/.idea/
**/node_modules/
**/logs/
**/.clinic/
**/dist/
**/.env
**/docker-compose.yml
**/.build
**/.cache
**/coverage

# V2 Server
server-nest/assets/public/assets/

# NPM publish
*.tgz

# Runtime folders
/images
/3DPF
/file-uploads
