**/.idea/
**/node_modules/
**/logs/
**/.clinic/
**/dist/
**/.env
**/.build
**/.cache
coverage

# V2 Server
server-nest/assets/public/assets/

# NPM publish
*.tgz

# Runtime folders
**/fdm-monster
**/images
**/file-storage
**/nodemon_restart_trigger.js

**/yarn-error.log
