.*.swp
._*
.DS_Store
.git
.hg
.idea
.npmrc
.vscode
.github
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
*.tgz

# Repo related
.all-contributorsrc
.dockerignore
.editorconfig
.eslintignore
.eslintrc.js
.prettierrc.json
.prettierignore
.whitesource
renovate.json
jest.config.js
docker-compose.yml

# Custom
*.ps1
coverage
docker
src
fdm-monster
media
src/**/*
test/**/*
test
.github
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal
**/*.log
**/*.zip

!dist/**/*
!*.md
!.env.template
!.swcrc
!package.json
!yarn.lock
!.yarn
!tsconfig.json
