.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.vscode
.github
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
*.tgz

# Custom
*.ps1
coverage
docker
docs
fdm-monster
installations
media
src
server-nest
test
.github
**/*.sqlite
!dist/**/*
!*.md
!.env.template
!.swcrc
!migrate-mongo-config.js
!package.json
!yarn.lock
!tsconfig.json
