.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.vscode
.github
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
*.tgz

# Repo related
.all-contributorsrc
.dockerignore
.editorconfig
.eslintignore
.eslintrc.js
.prettierrc.json
.prettieriignore
.whitesource
renovate.json
jest.config.js
docker-compose.yml
GitReleaseManager.yml

# Custom
*.ps1
coverage
docker
docs
fdm-monster
installations
media
src/**/*
test/**/*
test
.github
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal
**/*.log
**/*.zip
!dist/**/*
!*.md
!.env.template
!.swcrc
!migrate-mongo-config.js
!package.json
!yarn.lock
!tsconfig.json
