# Ignore transient folders
.git
logs
coverage

# Ignore unuseful folders
.github
docker
docs
images
node_modules
server-nest

# Ignore client for now
client-vue

# Ignore root files
CHANGELOG.md
README.md
