# Ignore transient folders
.idea
.git
**/logs
**/coverage
**/.github
server/docker
**/docs
**/images
**/fdm-monster
**/file-storage

# Ignore unuseful folders
**/node_modules
**/assets
**/dist

# Ignore root files
CHANGELOG.md
**/README.md
