{
  "sourceMaps": true,
  "inlineSourcesContent": false,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "baseUrl": "./server",
    "paths": {
      "@/*": ["./*"]
    }
  },
  "module": {
    "type": "commonjs",
    // These are defaults.
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  }
}
