services:
  mosquitto:
    container_name: fdmm-mosquitto
    image: eclipse-mosquitto:2.0.22
    restart: unless-stopped
    ports:
#      - "1883:1883"   # plain MQTT
      - "8883:8883"   # MQTT over TLS
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
      - ./mosquitto/certs:/mosquitto/certs

  # docker build --platform linux/amd64,linux/arm64 -t 1.5.0-alpha . -f .\docker\Dockerfile
  fdm-monster:
    container_name: fdm-monster
    image: fdmmonster/fdm-monster:2.0.0-rc1
    build:
      context: .
      dockerfile: docker/Dockerfile
    restart: unless-stopped
    deploy:
      restart_policy:
        delay: 5s
        max_attempts: 3
        window: 120s
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=development
      - SERVER_PORT=4000
      # - DATABASE_PATH=./database
      # - DATABASE_FILE=fdm-monster.sqlite
    volumes:
      - fdmm-media:/app/media
      - fdmm-database:/app/database

  fdm-monster-develop:
    container_name: fdm-monster-develop
    image: fdmmonster/fdm-monster:develop
    build:
      context: .
      dockerfile: docker/Dockerfile
    restart: unless-stopped
    deploy:
      restart_policy:
        delay: 5s
        max_attempts: 3
        window: 120s
    ports:
      - "4001:4001"
    environment:
      - NODE_ENV=development
      - SERVER_PORT=4001
    volumes:
      - ./fdm-monster-alpha/media/:/app/media
      - ./fdm-monster-alpha/database/:/app/database

volumes:
  fdmm-media:
    name: fdmm-media
  fdmm-database:
    name: fdmm-database
