name: Docker Release
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  check-version:
    uses: ./.github/workflows/_check-version.yaml
    with:
      check_tag_exists: true

  metadata:
    needs: [check-version]
    uses: ./.github/workflows/_metadata.yaml
    with:
      version: ${{ needs.check-version.outputs.version }}
      release_tags: true

  docker-release:
    needs: [check-version, metadata]
    if: needs.check-version.outputs.tag_exists == 'false'
    uses: ./.github/workflows/_build-docker.yaml
    with:
      tags: ${{ needs.metadata.outputs.tags }}
      tags_mdns: ${{ needs.metadata.outputs.tags_mdns }}
      labels: ${{ needs.metadata.outputs.labels }}
      push: true
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
