name: Docker release
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  checkversion:
    runs-on: ubuntu-latest
    outputs:
      foundServerVersion: ${{ steps.init.outputs.foundServerVersion }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: get-client-version
        # https://gist.github.com/DarrenN/8c6a5b969481725a4413?permalink_comment_id=3863317#gistcomment-3863317
        run: |
          echo "SERVER_VERSION=$(npm pkg get version | sed 's/"//g')" >> $GITHUB_ENV
      - uses: mukunku/tag-exists-action@v1.7.0
        id: checkTag
        with:
          tag: ${{ env.SERVER_VERSION }}
      - run: echo ${{ steps.checkTag.outputs.exists }}
      - name: Environment variables to output
        id: init
        run: |
          echo "foundServerVersion=${{ steps.checkTag.outputs.exists }}" >> $GITHUB_OUTPUT
  meta:
    needs: [ checkversion ]
    runs-on: ubuntu-latest
    outputs:
      labels: ${{ steps.metadata.outputs.labels }}
    steps:
      - id: metadata
        uses: crazy-max/ghaction-docker-meta@v5
        with:
          images: fdmmonster/fdm-monster

  docker:
    needs: [ meta, checkversion ]
    if: needs.checkversion.outputs.foundServerVersion == 'false'
    runs-on: ubuntu-latest
    name: "Docker build"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      # Login to DockerHub with environment variables
      - name: Login to DockerHub
        uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # https://stackoverflow.com/questions/57968497/how-do-i-set-an-env-var-with-a-bash-expression-in-github-actions
      - name: get-server-version
        # https://gist.github.com/DarrenN/8c6a5b969481725a4413?permalink_comment_id=3863317#gistcomment-3863317
        run: |
          echo "SERVER_VERSION=$(npm pkg get version | sed 's/"//g')" >> $GITHUB_ENV

      # Regular build
      - name: Tagging Strategy Regular
        id: tagging_regular
        uses: HackerHappyHour/tagging-strategy@v3
        with:
          image_name: fdmmonster/fdm-monster
          tag_name: ${{ env.SERVER_VERSION }}
          tags: |
            %X%::${{ !contains(env.SERVER_VERSION, 'rc') && !contains(env.SERVER_VERSION, 'unstable') }}
            %X.Y%::${{ !contains(env.SERVER_VERSION, 'rc') && !contains(env.SERVER_VERSION, 'unstable') }}
            %X.Y.Z%
          extra_tags: |
            latest::${{ !contains(env.SERVER_VERSION, 'rc') && !contains(env.SERVER_VERSION, 'unstable') }}      

      # Added to support 4545  :: adds -mdns tag to builds 
      - name: Tagging Strategy mDNS
        id: tagging_mdns
        uses: HackerHappyHour/tagging-strategy@v3
        with:
          image_name: fdmmonster/fdm-monster
          tag_name: ${{ env.SERVER_VERSION }}
          tags: |
            %X%-mdns::${{ !contains(env.SERVER_VERSION, 'rc') && !contains(env.SERVER_VERSION, 'unstable') }}
            %X.Y%-mdns::${{ !contains(env.SERVER_VERSION, 'rc') && !contains(env.SERVER_VERSION, 'unstable') }}
            %X.Y.Z%-mdns
          extra_tags: |
            latest-mdns::${{ !contains(env.SERVER_VERSION, 'rc') && !contains(env.SERVER_VERSION, 'unstable') }}

      # Show docker tags to be (conditionally) pushed
      - name: "Show docker tags"
        run: |
          echo "GitHub Ref: ${{ github.ref }}"
          echo "Ref Type: ${{ github.ref_type }}"
          echo "PR Base Ref: ${{ github.event.pull_request.base.ref }}"
          echo "Regular image tags: ${{ steps.tagging_regular.outputs.tags }}"
          echo "mDNS image tags: ${{ steps.tagging_mdns.outputs.tags }}"

      # Speed up the build next time
      - name: Cache Docker layers
        uses: actions/cache@v5
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ hashfiles('./docker/Dockerfile') }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      # Clone the repo and build the image
      - name: Build and push regular
        id: docker_build_regular
        uses: docker/build-push-action@v6
        with:
          push: true
          context: "{{defaultContext}}"
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
          file: ./docker/Dockerfile
          tags: ${{ steps.tagging_regular.outputs.tags }}
          labels: ${{ needs.meta.outputs.labels }}

      # Added to support 4545 :: build the mDNS image
      # Clone the repo and build the image with mDNS
      - name: Build and push mDNS
        id: docker_build_mdns
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          context: "{{defaultContext}}"
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
          file: ./docker/Dockerfile-mdns
          tags: ${{ steps.tagging_mdns.outputs.tags }}
          labels: ${{ needs.meta.outputs.labels }}          

      # Show image digest output
      - name: Image digest
        run: |
          echo "Regular build digest: ${{ steps.docker_build_regular.outputs.digest }}"
