name: Node.js CI

on:
  push:
    branches: [ develop, main ]
  pull_request:
jobs:
  nodejs-build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [ 16.x ]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - run: yarn install --frozen-lockfile
        working-directory: server
      - run: yarn run test:cov
        working-directory: server

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          dry_run: ${{ matrix.node-version == '16.x' }}
          directory: server/coverage
