name: Node.js CI MongoDB

on:
  pull_request:
  workflow_dispatch:
  # Runs from default branch, which is develop
  schedule:
    - cron: '0 0 * * *'
jobs:
  nodejs-build-mongodb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - run: yarn set version berry
      - run: yarn install --immutable
      - run: yarn run build
      - run: yarn run tsc
      # non-coverage sqlite tests
      - run: yarn run test:mongodb
        env:
          NODE_OPTIONS: '--max_old_space_size=8192'
