name: Node.js CI MongoDB

on:
  pull_request:
  workflow_dispatch:
  # Runs from default branch, which is develop
  schedule:
    - cron: '0 0 * * *'
jobs:
  nodejs-build-mongodb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22.x

      - run: yarn set version berry
      - run: yarn install --immutable
      - run: yarn run build
      - run: yarn run tsc
      # non-coverage sqlite tests
      - run: yarn run test:mongodb
        env:
          NODE_OPTIONS: '--max_old_space_size=8192'
