name: NodeJS Typecheck
on:
  workflow_dispatch:
jobs:
  tsc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - uses: actions/setup-node@v5
        with:
          node-version: 22.x

      # Build dist folder
      - run: yarn set version berry
      - run: yarn install --immutable
      - run: yarn run tsc
