name: NodeJS Typecheck
on:
  workflow_dispatch:
jobs:
  tsc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x

      # Build dist folder
      - run: yarn set version berry
      - run: yarn install --immutable
      - run: yarn run tsc
